# Build directories
build/
Build/
cmake-build-*/

# IDE files
.idea/
.vscode/
*.xcodeproj/
*.xcworkspace/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.o
*.obj
*.exe
*.dll
*.dylib
*.so
*.a
*.lib

# other
.cache/
libs/
/AudioPluginHost.app
